<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Radian Tutorial Examples: Section 3.1, Example 3</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/radian.css"/>
</head>
<body ng-controller="MyCtrl">
  <br>
  <br>
  <div class="container">
    <h4>Example 3</h4>
    <form class="form-inline">
      <label>Stroke colour:</label>
      <select ng-model="col" ng-init="col='red'">
        <option value="red">Red</option>
        <option value="orange">Orange</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="magenta">Magenta</option>
      </select>
      &nbsp;&nbsp;&nbsp;
      <label>Stroke width:</label>
      <select ng-model="swidth" ng-init="swidth=1">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="8">8</option>
      </select>
    </form>

    <plot height=300 aspect=2 x="[[seq(0,2*PI,101)]]">
      <lines y="[[0*x]]"></lines>
      <lines y="[[sin(x)]]" stroke="[[col]]" stroke-width="[[swidth]]"></lines>
    </plot>
  </div>

  <script src="/js/jquery.js"></script>
  <script src="/js/jquery.csv.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/escodegen.browser.js"></script>
  <script src="/js/estraverse.js"></script>
  <script src="/js/d3.v2.js"></script>
  <script src="/js/angular.min.js"></script>
  <script src="/js/radian.min.js"></script>
  <script src="/js/html5slider.js"></script>
  <script>
angular.module('myApp', ['radian']).
  controller('MyCtrl', [function()
{
}]);
  </script>
</body>
</html>
